# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Folders
ipch/
FileContentIndex/
MDSOpenGL/Debug/
MDSOpenGL/Release/
.vs/MDSOpenGL/v17/Browse.VC.opendb
